@{
    ViewData["Title"] = "About";
}

<h1>@ViewBag.trail.Name</h1>
<h3>Description:</h3>
<h4>@ViewBag.trail.Description</h4>
<h3>Trail Length:</h3>
<h4>@ViewBag.trail.Length Miles</h4>
<h3>Elevation Change:</h3>
<h4>@ViewBag.trail.ElevationChange feet</h4>